.form {
    display: flex;
}

.form-conteiner {
    margin: 20px;
    margin-left: 30px;
    display: flex;
}

.input {
    height:50px ;
    width:550px ;
    border-left: black solid 3px;
    border-right: black solid 3px;
    border-bottom: black solid 3px ;
    border-top: black solid 3px;
    padding-left: 50px;
}

svg {
    position: absolute;
    height: 30px;
    width: 30px;
    margin-top: 14px;
    margin-left: 5px;
}