.skills{
    display: flex;
    font-size: 25px;
    color: white;
}

.skills .html{
    margin-left: 5px;
}

.skills .css{
    margin-top: -10px;
    margin-left: 100px;
}

.skills .jv{
    margin-left: 100px;
}